html{
	background-color: #FFCCFF;
	font-family: comic, sans-serif;
}
h1{

	color: #6633FF;
	text-transform: uppercase;
	border-bottom: 3px solid #6633FF;
}

#contact{
	

}
#situation{
	float: right;

}
#experience{


}
#formation{

}
#compétence{

}
#loisirs{

}