html{
	margin: 0 auto;
	padding: 0 auto;
	background-color: ;
	font-family: comic, sans-serif;
}
h1{

	color: #6633FF;
	text-transform: uppercase;
	border-bottom: 3px solid #6633FF;
}

#contact{
	font-family: bold;
	border-style: outset;
	border-width: 8px;
	border-color: #993366;
	background-color: yellow;

}
#situation{
	float: right;
	font-family: bold;
	font-size: 15px;
	padding: 20px;
	padding-top: 80px;
	

}
#experience{


}
#formation{

}
#compétence{

}
#loisirs{

}
